<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Windows Azure Platform Training Kit - <#= currentPage #></title>
    <!-- Global CSS -->
    <link rel="Stylesheet" type="text/css" media="all" href="styles/master.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="styles/Menu.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="styles/topnav.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="styles/body.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="styles/tier2-page.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="styles/sticky-footer.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="styles/campaign.master.css" />
    <script type="text/javascript" src="scripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.query-2.1.6.js"></script>

    <!--[if gte IE 7]> 
		<link href="styles/ie7.css" rel="Stylesheet" media="all" />
	<![endif]-->
    <!--[if lte IE 6]> 
		<script type="text/javascript" src="scripts/jquery.supersleight.plugin.js"></script>
		<script type="text/javascript" src="scripts/azure.ie6.js"></script>
		<link href="styles/ie6.css" rel="Stylesheet" media="all" />
	<![endif]-->
    <!--WebTrends tag-->

    <script type="text/javascript" src="http://js.microsoft.com/library/svy/broker.js"></script>

    <script type="text/javascript" src="scripts/azure.js"></script>	

    <style type="text/css">
        .ctl00_TopNavMenu_0
        {
            background-color: white;
            visibility: hidden;
            display: none;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .ctl00_TopNavMenu_1
        {
            text-decoration: none;
        }
        .ctl00_TopNavMenu_2
        {
        }
    </style>
</head>
<body>
	<#@ include file="jswarning.include.tt" #>	
	
    <a name="top"></a>
    <div id="outerWrapper">
        <div id="wrapper" class="landingPage getStartedPage">
            <div id="whiteBkgdStrip">
            </div>
            <div class="header">
                <div class="mainHomepageTitle">
					
				</div>				
				<div class="mainHomepageSubTitle">
					Training Kit - <#= Package.Overview.Version #>
				</div>
				<div class="changeLogLink">
					<a href="Agenda.htm">Training Agenda</a> | <a href="http://go.microsoft.com/fwlink/?LinkId=131459">Online Resources</a> | <a href="ChangeLog.htm">Change Log</a>
				</div>
                <#@ include file="Master.Navigator.include.tt" #>
            </div>
            <div class="contentWrapper">
