        </div>
        <footer>  
			<ul class="links">
				<li><a href="/" title="home">Home</a> |</li>
				<li><a href="http://www.microsoft.com/about/legal/en/us/IntellectualProperty/Copyright/Default.aspx" onclick="window.open(this.href);return false;">Terms of Use</a> | </li>
				<li><a href="http://privacy.microsoft.com/en-us/default.mspx" onclick="window.open(this.href);return false;">Privacy</a> | </li>
				<li class="odata"><a href="http://www.contentinstaller.net/odata" title="Content Installer OData Feed">Content Installer OData Feed</a></li>
				<li><a href="http://@Request.Url.Authority/odata" title="Content Installer OData Feed"><img src="Images/odata.png"  alt="Content Installer OData Feed" width="16" height="16" style="border: 0;" /></a></li>
			</ul>
			<ul class="footerinfo">
				<li>&copy; 2012 Microsoft - Powered by <a href="http://windowsazure.com/" title="Powered by Windows Azure" >Windows Azure</a></li>
			</ul>     
        </footer>
    </div>
</body>
</html>